@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.pasta {
    position: relative;
    width: 230px;
    height: 248px;
}

.fundo {
    border-radius: 26px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.meio {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 85%;
    height: 85%;

    background-color: #fefffe;

    border-radius: 8px;

    font-family: "Inter Tight", sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    color: #1b1a1a;
    padding: 8px;

    transition: transform 0.4s ease;

    overflow: hidden;
}

.meio:hover {
    transform: translate(-50%, -50%) rotate(-3deg);
    transform-origin: top left;
}

.info {
    position: absolute;
    z-index: 10;
    background-color: #4C5454;
    color: #fff;

    border-radius: 4px;
    white-space: nowrap;
    font-size: .9rem;

    transform: translate(-50%, -50%);
}

.info a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    padding: 4px 8px;

    text-decoration: none;
}

.frente {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    border-radius: 0 0 26px 26px;

    clip-path: polygon(
            0% 0%,      /* 1. Canto Superior Esquerdo (Reta) */
            60% 0%,     /* 2. INÍCIO da Descida Diagonal (75% largura, 0% altura) - Mais adiante! */
            75% 15%,    /* 3. Fim da Descida Diagonal/Início da Reta (85% largura, 15% altura) */
            100% 15%,   /* 4. Canto Superior Direito (100% largura, 15% altura) - Linha RETA */
            100% 100%,  /* 5. Canto Inferior Direito (Reta) */
            0% 100%     /* 6. Canto Inferior Esquerdo (Reta) */
    );
}