.main {
    height: 100%;
    width: 600px;

}

.cabecalho {
    margin-top: 50px;
}

.titulo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
}

.titulo:nth-child(3) {
    margin-bottom: 1.5rem;
}

.subtitulo {
    text-align: center;
    font-size: 1.2rem;
    color: #647373;
}

.pastas {
    margin-top: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    width: 100%;
    height: 300px;
}
