@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.main {
    height: 100%;
    width: 600px;

}

.cabecalho {
    margin-top: 50px;
}

.titulo {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.titulo:nth-child(3) {
    margin-bottom: 1.5rem;
}

.subtitulo {
    font-family: "Inter Tight", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: rgb(121, 121, 121);
}

.pastas {
    margin-top: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    width: 100%;
    height: 300px;
}
